@media screen and (max-width:431px) {
  body{
    overflow-x: hidden;
  }
  .container {
    max-width: 431px;
  }

  .text-box {
    font-size: 23px;
  }

  .right-main {
    display: none;
  }

  .btn {
    font-size: 14.8px;
  }

  .box {
    width: 120px;
    font-size: 13px;
  }

  .guest_wrapper {
    max-width: 430px;
    display: block;
    gap: 50px;
  }

  .guest_btn {
    color: #fff;
    font-size: 12px;
    border-radius: 50px;
    background: linear-gradient(0deg, #F00 0%, #F00 100%), #EA449A;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
  }

  .feature_wrapper {
    max-width: 430px;
    text-align: center;
    display: block;

  }

  .feature_child {
    margin: 0 auto;
    width: 340px;
    margin-top: 20px;
  }

  .red_pric {
    margin-top: 50px;
  }

  .linner_bg_wrapper {
    margin-top: 30px;
    display: none;
    justify-content: space-between;
    text-align: center;

  }

  .text_wrapper {
    display: block;
    margin: 0 auto;
  }

  .pricing_texts {
    margin: 0 auto;
  }

  .pricing_title {
    font-style: 28px;
  }

  .host_wrapper {
    display: block;
  }
  .host_third_child{
    margin-top: 30px;
  }
  .missy_wrapper{
    display: block;
  }
  .footer{
    padding: 0;
    max-width: 430px;
  }
  .footer_wrapper{
    display: block;
  }
}
